<h1>Cookies ejercicios</h1>
<h3>Nombre del cliente</h3>
<input type="text" id="name">
<br><br>
<h3>Correo</h3>
<input type="text" id="email">
<br>
<button class="sendCookie" type="button">Enviar cookie</button>
<br>
<br>
<button class="getCookie">Get Cookie</button>

<script>
    document.querySelector('.getCookie').addEventListener('click', function() {
        fetch('/getCookie')
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
    });

    document.querySelector('.sendCookie').addEventListener('click', function() {
        const name = document.querySelector('#name').value;
        const email = document.querySelector('#email').value;
        fetch('/setCookie', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name,
                email
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
    });
</script>